<%- include('partials/header.ejs') %>

    <div class="container">
        <h1>Add a secret</h1>

        <form action="/secret" method="post">
            <input type="text" name="secret" id="secret">
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>

<%- include('partials/footer.ejs') %>