<%- include('partials/header.ejs') %>

    <div class="container">
        <h1>There seems to be an error!</h1>
        <hr>
        <h3><%= message %></h3>

        <form action="/">
            <button class="btn btn-primary" type="submit">Login page</button>
        </form>
    </div>

<%- include('partials/footer.ejs') %>