<%- include('partials/header.ejs') %>

    <div class="container">
        <h1>I'm a huge fan of railways 🚃</h1>

        <form action="/logout">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    </div>

<%- include('partials/footer.ejs') %>