<%- include('partials/header.ejs') %>

    <div class="container">
        <h1><%= secret %></h1>

        <div class="row">
            <div class="col">
                <form action="/logout">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
            </div>
            <div class="col">
                <form action="/add-secret">
                    <button class="btn btn-primary">Add a secret</button>
                </form>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>